:root{
	--color-green: #67ab49;
	--color-dark-green: #14892c;
	--color-blue: #3c7ee8;
	--color-dark-blue: #3168bf;
	--color-orange: #ffaa32;
	--color-dark-orange: #ff9131;

	--color-button: var(--color-green);
	--color-button-hover: var(--color-dark-green);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
	padding: 30px
}

.form {
	border: 1px solid #DDD;
	padding: 12px;
	border-radius: 2px;
	text-align: center;
}

.form_link {
	display: block;
	text-decoration: none;
	color: #999;
	margin-bottom:12px
}

.form_link:hover{
	text-decoration: underline;
	color:#888;
}

.form_input {
	padding: 8px 12px;
	border-radius: 2px;
	border: 1px solid #CCC;
}

.form_submit-button{
	display: block;
	width: 320px;
	max-width: 80%;
	margin: 20px auto;
	border-radius:2px;
	border: 0;
	background: var(--color-button);
	padding: 12px 8px;
	color: white;
}

.form_submit-button:hover{
	cursor: pointer;
	background: var(--color-button-hover);
}