:root{
	--color-green: #67ab49;
	--color-dark-green: #14892c;
	--color-blue: #3c7ee8;
	--color-dark-blue: #3168bf;
}

.container{
	padding: 30px
}

form {
	border: 1px solid #DDD;
	padding: 12px;
	border-radius: 2px;
	text-align: center;
}

form a {
	display: block;
	text-decoration: none;
	color: #999;
	margin-bottom:12px
}

form a:hover{
	text-decoration: underline;
	color:#888;
}

input {
	padding: 8px 12px;
	border-radius: 2px;
	border: 1px solid #CCC;
}

button[type="submit"] {
	display: block;
	width: 320px;
	max-width: 80%;
	margin: 20px auto;
	border-radius:2px;
	border: 0;
	background: var(--color-green);
	padding: 12px 8px;
	color: white;
}

button[type="submit"]:hover{
	cursor: pointer;
	background: var(--color-dark-green);
}

/* Lot of things here */