:root{
	--color-button: #ffaa32;
	--color-button-hover: #ff9131;
}

.form_submit_button{
	background-color: var(--color-button);
}

.form_submit_button:hover {
	background-color: var(--color-button-hover);
}