:root{
	--color-button: #3c7ee8;
	--color-button-hover: #3168bf;
}

.form_submit_button {
	background-color: var(--color-button);
}

.form_submit_button:hover {
	background-color: var(--color-button-hover);
}
